<body style="background-image: url('assets/mountain.jpeg'); background-size: 100% 100%; background-attachment: fixed;">

    <div *ngFor="let prod of prods">

        <p>
            <a [routerLink]="['/products', prod.productId]">
                <span class="bg-dark">{{ prod.productName }}</span>
            </a>
        </p>
    </div>

    <button (click)="addProduct()">Add Product</button>

</body>


<!-- <div class="card-top-container-fluid">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div> -->