<body style="background-image: url('assets/background-photos/mountain.jpeg'); background-size: 100% 100%; background-attachment: fixed;">

    <div *ngFor="let prod of prods">

        <p>
            <img src="./assets/clothing-photos/{{prod.productName}}.jpg">
            <!-- <a [routerLink]="['/products', prod.productName]">-->
            <!-- <a (click)="addProduct()"> -->
            <span class="bg-dark">{{ prod.productName }} ${{prod.unitPrice.toFixed(2)}}</span>
            <button (click)="addProduct(prod)"></button>
            <!-- </a> -->
        </p>
    </div>
    <br>
    <!-- <button (click)="addToCart()">Undo (last product: {{this.lastSelectedItem.productName}})</button> -->
    <button (click)="addToCart()">Add Products</button>

</body>


<!-- <div class="card-top-container-fluid">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div> -->