button {
    background-color: #08023d;
    color: white;
    padding: 16px;
    border-radius: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

body {
    height: 94.2vh;
    /* place-items: center;  */
    /* text-align: ; */
    /* text-shadow: 2px 2px pink; */
    /* padding-left: 15px; */
    color: #ffffff;
    font-size: x-large;
    font-family: serif;
    background-color: rgb(35, 0, 116);
}

form {
    height: 94.2vh;
    /* place-items: center;  */
    /* text-align: ; */
    /* text-shadow: 2px 2px pink; */
    /* padding-left: 15px; */
    color: #ffffff;
    font-size: x-large;
    font-family: serif;
    background-color: rgb(35, 0, 116);
    padding-left: 10px;
}


input {
    width: 125px;
    text-align: center;
    margin-right: 15px;
    height: auto;
    filter: opacity(80%);
}

img {
    width: 100px;
    margin-right: 15px;
    height: auto;
    filter: opacity(80%);
}
