<form (ngSubmit)="searchForProduct()" style="background-image: url('assets/background-photos/mountain2.jpeg'); background-size: 100% 100%; background-attachment: fixed;">
    <!-- <div class="navbar navbar-light bg-primary shadow-sm"> -->
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:40px;">&nbsp;</i>
            <h4>CogniCloth Shop</h4> 
            <div class="form-group">
                <input type="text" id="searchBox" class="form-control" placeholder="Search for Product">
            </div>

            <button (click)="searchForProduct()">Search</button>
        </div>
    <!-- </div> -->
    </form>