body {
    height: 94.2vh;
    text-align: center;
    text-shadow: 2px 2px #08023d;
    color: #ffffff;
    font-size: x-large;
    font-family: serif;
}

button {
    background-color: #08023d;
    color: white;
    padding: 16px;
    border-radius: 30px;
    margin-left: 100px;
    width: 100px;
}

input {
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}
 
label { 
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
}