body {
    height: 94.2vh;
    text-align: center;
    /* text-shadow: 2px 2px rgb(0, 0, 0); */
    font-weight: bolder;
    padding-top: 10px;
    color: #000000;
    font-size: 38px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-style: italic;
    color: green;
    /* text-shadow: #000000; */
    font-weight: bold;
    padding-left: 600px;
    padding-top: 60px;
}